<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/chat.css}">
</head>
<body>

    <div id="top-bar">

        <div id="image-container">
            <a th:href="@{/home}">
                <img th:src="@{/img/whatsapp-icon.png}"/>
                <h1>WhatsApp Web</h1>
            </a>
        </div>


        <div id="user-info">
            <img alt="prof-pic" th:src="@{/img/hasbulla.jpg}"/>
            <p th:text="${nombreUsuario}"></p>
            <p id="username" th:text="${usuario}" hidden="hidden"></p>
        </div>

    </div>

    <div id="chat">
        <div id="messages">
            <div th:each="mensaje : ${mensajes}"
                th:classappend="${mensaje.usuarioEmisor == nombreUsuario} ? 'mensaje-emisor' : 'mensaje-receptor'"
                class="mensaje">
                <p th:text="${mensaje.getTexto()}"></p>
            </div>
        </div>
    </div>

    <form method="post" id="messageForm">
        <label for="message" hidden="hidden"></label>
        <textarea name="message" id="message"></textarea>

        <button type="submit">
            <img th:src="@{/img/send.png}" alt="enviar"/>
        </button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>