<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contactos WhatsApp Web</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <nav>
        <a th:href="@{/}"><img alt="volver" th:src="@{/img/flecha-volver.png}"/></a>

        <div id="image-container">
            <img th:src="@{/img/whatsapp-icon.png}"/>
            <h1>WhatsApp Web</h1>
        </div>

        <div id="profile">
            <a th:href="@{/profile}">
                <img alt="user" th:src="@{/img/user.png}"/>
                <h4 th:text="${usuario.getNombre()}"></h4>
            </a>
        </div>

    </nav>

    <div id="contacts">
        <h2>Usuarios</h2>
        <ul>
            <div th:each="usuario : ${usuarios}" id="user-card">
                <a th:href="@{/chat(username=${#strings.trim(usuario.getUsuario())})}">
                    <img alt="profile-pic" th:src="@{/img/hasbulla.jpg}"/>
                    <div id="card-info">
                        <p th:text="${usuario.getNombre()}">Nombre</p>
                        <span th:text="${usuario.getEstado()}">Estado</span>
                    </div>
                </a>
            </div>
        </ul>
    </div>
</body>
</html>
