<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contactos WhatsApp Web</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<h1>Usuarios</h1>
<div id="sidebar">
    <h2>Usuarios</h2>
    <ul>
        <div th:each="usuario : ${usuarios}">
            <a th:href="@{/chat(username=${#strings.trim(usuario.getUsuario())})}">
                <p th:text="${usuario.getNombre()}">Nombre</p>
                <span th:text="${usuario.getEstado()}">Estado</span>
            </a>
        </div>
    </ul>
</div>
</body>
</html>
